<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="script_name" value="PAMScriptDemo.ps1"/>
		<add key="script_type" value="Powershell"/>
	</appSettings>
</configuration>